* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  width: 100px;
  height: 30px;
}

body {
  background-image: url(./img/raindrop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
